.btn1{
    border-radius: 50px;
}
.firt_section{
    padding-bottom: 30px;
}

.my_col{
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    background-color: aqua;
}
.checked {
    color: orange;
  }
.fa {
    font-size: 105px;
  }

.align{
    display: flex;
    align-content: center;
    align-self: center;
    padding-top: 15px;
}

.profile_img{
position: absolute;
  top: 130px;
  position: relative;
}
.my_container{
    border-left: solid rgb(174, 163, 163) 1px ;
    border-right: solid rgb(174, 163, 163) 1px ;
    border-bottom: solid rgb(174, 163, 163) 1px ;
}
.second_col{
    padding-top: 150px;
    padding-bottom: 15px;
}
.section_3{
    margin-top: 10px;
    border: solid rgb(174, 163, 163) 1px;
    padding-top: 10px;
}
.last_col{
display: flex;
align-items: end;
justify-content: end;
padding-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .profile_img{
        bottom: 0px;
      }
  }